body {
  background-color:  #d6dee0;
}
.application-body-wrapper {  
  width: 60%;
  margin: 30px auto;
}
.application-body {
  padding: 30px;  
  background-image: linear-gradient(
    0deg,
     #c5e2ea 23%,
     #8fbfcb 55%,
     #638b95 88%    
  );
  box-shadow: rgba(177, 161, 173, 0.493) 0px 8px 8px 0;
  border-radius: 10px;
  color: rgba(21, 35, 36, 0.836);
}
h1 {
  text-align: center;
  font-weight: 600;
  font-size: 50pt;
  padding: 1em;
  padding-bottom: 0;
  font-family: "Montserrat", sans-serif;
}
.font {
  font-size: 40pt;
}
#fontHead {
  text-align: center;
  font-weight: 600;
  font-size: 50pt;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
}
.wind_ul {
  margin: 0;
  padding: 0;
}

.wind_li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20pt;
  font-weight: 500;
  line-height: 20pt;
  font-family: "Montserrat", sans-serif;
}

li:first-letter {
  text-transform: capitalize;
}
h2 {
  text-align: center;
  margin-bottom: 2em;
}
h4 {
  margin-left: 3em;
}
.imgSun {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.col1 {
  display: block;
  border-radius: 20px;
  border-color: #8fbfcb;
  text-align: left;
  width: 60%;
  margin: 1em;
  padding: 0.5em;
  background-color: rgba(95, 158, 160, 0.027);
  font-size: 30pt;
}
.col2 {
  display: block;
  border-radius: 20px;
  border-color: #8fbfcb;
  text-align: right;
  width: 30%;
  margin: 1em;
  padding: 0.5em;
  background-color: rgba(95, 158, 160, 0.027);
  font-size: 30pt;
}

.formSearch {
  display: flex;
  flex-direction: row;
}
.search-field {
  width: 60%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
  margin-left: 3em;
  font-size: 20pt;
}

.search-button {
  width: 15%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
  margin-left: 1em;
  font-size: 20pt;
}
.search-button-geo {
  width: 25%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
  margin-left: 1em;
  font-size: 20pt;
}
h5{
  text-align: center;
  padding: 1em;
  color:#638b95;
}
.color-link { 
  color: #fdd020;   
  text-decoration: none;
}
.color-link:hover {
  color:#638b95; /* Цвет ссылки при наведении на нее курсора мыши */  
  text-decoration: underline; /* Добавляем подчеркивание */
}
.color-link-temp {
  color:beige;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
